<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>output</title>
</head>
<body>

<h1> Compliance Table</h1>

<table border="1">
    {% for key, val in compliance_table.items() %}
        <thead>
            <tr>
                <th>{{ key }}</th>
            </tr>
        </thead>
        <tbody>
            {% for v in val %}
                <tr>
                    <td>{{ v|safe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% endfor %}
</table>

</body>
</html>
